--disable andOperator,isEmpty,redundantFileprivate,trailingClosures
--allman false
--binarygrouping none
--commas always
--comments indent
--decimalgrouping none
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--header ignore
--hexgrouping none
--hexliteralcase uppercase
--ifdef indent
--indent 4
--indentcase false
--linebreaks lf
--octalgrouping none
--operatorfunc no-space
--patternlet inline
--ranges no-space
--self init-only
--semicolons inline
--stripunusedargs closure-only
--trimwhitespace always
--wraparguments preserve
--wrapcollections preserve
