name: CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Build local layer
      run: make create_layer
    - name: Build local and package local lambda
      run: make build_lambda
    - name: Run show local files
      run: ls -n ./Examples/SquareNumber/
    - name: Run show local files
      run: ls -n ./Examples/SquareNumber/.build